@import '../../scss/variables';
@import '../../scss/mixins';

.alert {
  width: 100%;
  padding: 20px;
  border: 1px solid $button-color;
  background-color: #bae7ff;
  box-sizing: border-box;
}

.title {
  text-transform: uppercase;
  font-size: 13px;
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: $indent-size;
  color: $text-color;
}
