@import '../../scss/variables';
@import '../../scss/mixins';

.ticket {
  max-width: 502px;
  max-height: 184px;
  background-color: $bg-element-color;
  display: flex;
  flex-direction: column;
  padding: $indent-size;
  margin-bottom: $indent-size;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;

  @media (max-width: 600px) {
    max-width: 318px;
  }
}

.header {
  margin-bottom: $indent-size;
}

.info-forward {
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-forward,
.info-back {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.price {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: $button-color;
}
