@import '../../scss/variables';
@import '../../scss/mixins';

.tiket {
  max-width: 502px;
  max-height: 184px;
  background-color: $bg-element-color;
  display: flex;
  flex-direction: column;
  padding: $indent-size;
  margin-bottom: $indent-size;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;

  @media (max-width: 600px) {
    max-width: 318px;
  }
}

.header {
  margin-bottom: $indent-size;
}

.info-forward {
  margin-bottom: 10px;
}

.header,
.info-forward,
.info-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: $button-color;
}

.container:last-of-type {
  margin-right: 43px;

  @media (max-width: 600px) {
    margin-right: 0;
  }
}

.heading {
  font-size: $font-size;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a0b0b9;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 10px;
  }
}

.text {
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}
