@import '../../scss/variables';
@import '../../scss/mixins';

body {
  margin: 0;
  background: $bg-color;
  font-family: $font-family;
  font-style: $font-style;
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.app {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 103px 50px 103px;
  box-sizing: border-box;

  @media (max-width: 960px) {
    padding: 0px 50px 30px 50px;
  }

  @media (max-width: 600px) {
    max-width: 320px;
    padding: 0 0 30px 0;
  }
}

.logo {
  min-width: 70px;
  min-height: 75px;
  margin: 50px auto;
  background: url(./Logo.svg) no-repeat center;

  @media (max-width: 960px) {
    margin: 20px auto;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  margin-left: 252px;

  @media (max-width: 960px) {
    max-width: 502px;
    margin: 0 auto;
    padding-top: 272px;
  }
}
