@import '../../scss/variables';

.ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 20px;
  left: calc(50% - 130px);
}
.ellipsis div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $button-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ellipsis div:nth-child(1) {
  left: 8px;
  animation: ellipsis1 0.6s infinite;
}
.ellipsis div:nth-child(2) {
  left: 8px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(3) {
  left: 32px;
  animation: ellipsis2 0.6s infinite;
}
.ellipsis div:nth-child(4) {
  left: 56px;
  animation: ellipsis3 0.6s infinite;
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.ellipsis p {
  font-weight: 400;
  font-size: 10px;
  line-height: $indent-size;
  display: flex;
  align-items: center;
  color: $button-color;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  top: -5px;
  left: 80px;
  width: max-content;
  text-transform: uppercase;
}
