@import '../../scss/variables';
@import '../../scss/mixins';

.button {
  width: 100%;
  height: 50px;
  background: $button-color;
  border-radius: 5px;
  border: none;
  color: $bg-element-color;
  cursor: pointer;
  box-sizing: border-box;
  @include button-text;

  @media (max-width: 600px) {
    max-width: 318px;
  }
}
