@import './variables';

@mixin button-text {
  font-weight: 600;
  font-size: 12px;
  line-height: $indent-size;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  @media (max-width: 600px) {
    font-size: 10px;
  }
}

@mixin sort-button {
  width: 167px;
  height: 50px;
  background: $bg-element-color;
  border: 1px solid $border-color;
  cursor: pointer;
  color: $text-color;

  @media (max-width: 600px) {
    width: 106px;
  }
}
