$font-family: 'Open Sans', sans-serif;
$font-style: normal;

$font-size: 12px;

$bg-color: #f3f7fa;
$bg-element-color: #ffffff;
$border-color: #dfe5ec;
$text-color: #4a4a4a;
$button-color: #2196f3;
$hover-color: #f1fcff;

$indent-size: 20px;
