@import '../../scss/variables';
@import '../../scss/mixins';

.transfer-filter {
  min-width: 232px;
  min-height: 252px;
  background: $bg-element-color;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;

  @media (max-width: 960px) {
    right: calc(50% + 19px);
  }

  @media (max-width: 600px) {
    right: calc(50% - 115px);
  }
}

.title {
  margin: 0;
  font-size: $font-size;
  line-height: $font-size;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $text-color;
  margin: 20px 20px 10px 20px;

  @media (max-width: 600px) {
    font-size: 10px;
    line-height: 10px;
  }
}

.label {
  margin-left: 30px;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: $indent-size;
  display: flex;
  align-items: center;
  color: $text-color;
  cursor: pointer;
}

.item {
  margin: 0;
  padding: 10px $indent-size;
}

.item:hover {
  background: #f1fcff;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  position: absolute;
  left: -30px;
  top: -1px;
  width: $indent-size;
  height: $indent-size;
  background: url(./Checkbox.svg) no-repeat center;
}

.checkbox-checked {
  position: absolute;
  left: -30px;
  top: -1px;
  width: $indent-size;
  height: $indent-size;
  background: url(./Checkbox-checked.svg) no-repeat center;
}
